ECSP/.gradle/5.2.1/executionHistory/executionHistory.bin
ECSP/gradlew.bat
ECSP/.idea/.gitignore
ECSP/.gradle/5.2.1/executionHistory/executionHistory.lock
ECSP/.gradle/5.2.1/fileChanges/last-build.bin
ECSP/.gradle/5.2.1/fileHashes/fileHashes.bin
ECSP/.gradle/5.2.1/fileHashes/fileHashes.lock
ECSP/.gradle/5.2.1/gc.properties
ECSP/.gradle/buildOutputCleanup/buildOutputCleanup.lock
ECSP/.gradle/buildOutputCleanup/cache.properties
ECSP/.gradle/buildOutputCleanup/outputFiles.bin
ECSP/.gradle/vcs-1/gc.properties
ECSP/.idea/encodings.xml
ECSP/.idea/gradle.xml
ECSP/.idea/jarRepositories.xml
ECSP/.idea/misc.xml
ECSP/.idea/vcs.xml
ECSP/gradle/wrapper/gradle-wrapper.jar
